body {
    background: url("../img/login-img.original.jpg") !important;
    background-size: cover !important;
}

.login {
    margin-top: 100px;
    background: white;
}

.login .card {
    position: fixed;
    width: 30vw;

    background: linear-gradient(to right, #16bffdd7, #cb3066d0);
}

/* label color */
.form-field label {
    font-size: 1.3rem;
    color: #000;
}

/* label focus color */
.form-field input[type=text]:focus {
    color: #000;
    border-color: black;
}

/* label underline focus color */
.form-field input[type=text] {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.form-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.form-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.form-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.form-field .prefix.active {
    color: #000;
}

/* label focus color */
.form-field input[type=password]:focus {
    color: #000;
    border-color: black;
}

/* label underline focus color */
.form-field input[type=password] {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.form-field input[type=password]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.form-field input[type=password].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.form-field input[type=password].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.form-field .prefix.active {
    color: #000;
}


@media only screen and (max-width: 875px) {
    .login .card {
        width: 100vw;
        margin: 0 auto;
    }

} 