.choose-body {
    background-image: url('https://res.cloudinary.com/pushapp/image/upload/v1576688225/img/settings-background_okqiaa.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-heading {
    text-transform: uppercase;
    padding: 1rem;
    background-color: black;
    text-align: center;
    margin: 3rem 30%;
}